---
import "@fontsource-variable/inter";
import * as tokens from "@gyldendal/kobber-base/themes/default/tokens";
import "@gyldendal/kobber-components/css/components.css";
import RichText from "./richText/RichTextAstro.astro";
import FluidDiagram from "./fluidDiagram/FluidDiagram.astro";
import PageLayout from "../layouts/Layout.astro";
import { layout } from "@gyldendal/kobber-base/themes/default/tokens";
import { CodeFormatter } from "./codeFormatter/CodeFormatter";

const rowStyle = `border: solid 1px ${tokens.primitives.color.pink[500]}`;

const columnStyle = `background-color: ${tokens.primitives.color.pink[100]}`;

const exampleStyle = `background-color: ${tokens.primitives.color.pink[100]}`;
---

<PageLayout title="Layout">
  <script>
    import "@gyldendal/kobber-components/web-components";
  </script>
  <kobber-grid>
    <kobber-grid-column span="12">
      <RichText marginBottom={false}>
        <h1>Layouts</h1>
        <h3>Fluid tokens</h3>
        <p>
          Designsystemet har tokens som gjør det enklere å lage layouts som
          tilpasser seg skjermbredden.
        </p>
        <ul>
          <li>
            Bruker <a
              href="https://developer.mozilla.org/en-US/docs/Web/CSS/clamp"
              target="_blank"
            >
              CSS clamp</a
            > og ingen media queries
          </li>
          <li>Bruker rem-verdier for å ivareta universell utforming</li>
          <li>Stopper å vokse på brede skjermer</li>
        </ul>
        <CodeFormatter
          language="css"
          code={`
/* CSS Grid med 4px avstander på små skjermer og 16px avstander på store skjermer. */

.my-grid {
  gap: var(--kobber-layout-gap-4-16); /* ${JSON.stringify(
    layout.gap["4-16"],
  ).replace(/"/g, "")} */
}
`.trim()}
        />
        <br />
      </RichText>
    </kobber-grid-column>
  </kobber-grid>

  <kobber-grid>
    <kobber-grid-column span="12">
      <RichText marginBottom={false}>
        <p>Fluid tokens fra designsystemet</p>
        <code>layout</code>
      </RichText>
    </kobber-grid-column>
  </kobber-grid>

  <kobber-grid>
    <kobber-grid-column span="12">
      <FluidDiagram tokenName="layout.gap" fluidTokens={layout.gap} />
    </kobber-grid-column>
  </kobber-grid>

  <kobber-grid>
    <kobber-grid-column span="12">
      <RichText marginBottom={false}>
        <h3>Grid-komponent</h3>
        <p>Grid med 12 kolonner som bruker tokens fra designsystemet</p>
      </RichText>
    </kobber-grid-column>
  </kobber-grid>
  <kobber-grid style={rowStyle}>
    <kobber-grid-column span="1" style={columnStyle}
      ><div class="example" style={exampleStyle}>1</div></kobber-grid-column
    >
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>2</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>3</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>4</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>5</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>6</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>7</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>8</div>
    </kobber-grid-column>

    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>9</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>10</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>11</div>
    </kobber-grid-column>
    <kobber-grid-column span="1" style={columnStyle}>
      <div class="example" style={exampleStyle}>12</div>
    </kobber-grid-column>
  </kobber-grid>

  <kobber-grid
    justify-content="center"
    grid-template-columns="1fr"
    grid-template={unescape(
      JSON.stringify({
        [`(max-width: ${layout.viewportWidth.medium.max}px)`]:
          '"a" "b" "c" auto / 10px',
        [`(min-width: ${layout.viewportWidth.medium.max - 1}px)`]:
          '"a b c" auto / 1fr 1fr 1fr',
      }),
    )}
  >
    <kobber-grid-column grid-area="a">A</kobber-grid-column>
    <kobber-grid-column grid-area="b">B</kobber-grid-column>
    <kobber-grid-column grid-area="c">C</kobber-grid-column>
  </kobber-grid>
</PageLayout>

<style is:global>
  body {
    min-width: 320px;
  }
</style>

<style>
  kobber-grid {
  }

  kobber-grid {
    width: 100%;
    margin-inline: auto;
  }

  .example {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
