---
import "@fontsource/fira-code";
import { getTheme } from "../theme";
import Forside from "./Forside.md";
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const titleWithSuffix = title
  ? `${title} - Kobber - Gyldendals designsystem`
  : "Kobber - Gyldendals designsystem";

const theme = getTheme(Astro);
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{titleWithSuffix}</title>
  </head>

  <div class="commingsoon">Kobber dokumentasjon åpner i løpet av april.</div>
  <!-- <Forside /> -->

  <!-- OpenGraph Tags -->
  <meta property="og:title" content={titleWithSuffix} />
  <meta property="og:site_name" content="Kobber" />
  <meta property="og:locale" content="no" />
  <meta
    property="og:description"
    name="description"
    content="Byggesteiner Gyldendal bruker til å lage solide, sammenhengende og universelt tilgjengelige produkter."
  />

  <script type="module">
    import RefreshRuntime from "/@react-refresh";
    RefreshRuntime.injectIntoGlobalHook(window);
    window.$RefreshReg$ = () => {};
    window.$RefreshSig$ = () => (type) => type;
    window.__vite_plugin_react_preamble_installed__ = true;
  </script>

  <body class:list={theme.className}>
    <style>
      .commingsoon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-size: 30px;
        padding: 50px;
      }
    </style>
  </body>


</html>
