---
import "@fontsource/fira-code";
import { getTheme } from "../theme";
import Header from "../layouts/Header.astro";
import Sidebar from "../layouts/Sidebar.astro";
import Main from "../layouts/Main.astro";
import Footer from "../layouts/Footer.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;

const titleWithSuffix = title
  ? `${title} - Kobber - Gyldendals designsystem`
  : "Kobber - Gyldendals designsystem";

const theme = getTheme(Astro);
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{titleWithSuffix}</title>

    <!-- OpenGraph Tags -->
    <meta property="og:title" content={titleWithSuffix} />
    <meta property="og:site_name" content="Kobber" />
    <meta property="og:locale" content="no" />
    <meta
      property="og:description"
      name="description"
      content="Byggesteiner Gyldendal bruker til å lage solide, sammenhengende og universelt tilgjengelige produkter."
    />

    <script type="module">
      import RefreshRuntime from "/@react-refresh";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
  </head>
  <body class:list={theme.className}>
    <main>
      <div class="header">
        <Header />
      </div>
      <div class="sidebar">
        <Sidebar />
      </div>
      <div class="main">
        <Main />
      </div>
      <div class="footer">
        <Footer />
      </div>
    </main>

    <style is:global>
      @import "@gyldendal/kobber-base/themes/default/tokens.css";
      @import "@gyldendal/kobber-base/themes/default/typography.css";
      @import "@gyldendal/kobber-base/themes/dark/tokens.css";
      @import "@gyldendal/kobber-base/themes/dark/typography.css";

      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      :root {
      }

      html {
      }

      body {
        font-family: Inter, "Inter Variable", system-ui, sans-serif;
        margin: 0;
        background: #fdfcfb;
      }

      .header {
        grid-area: header;
        border-bottom: 1px solid lightslategray;
      }
      .main {
        grid-area: main;
      }
      .sidebar {
        grid-area: sidebar;
        min-height: calc(100vh - 300px);
        border-right: 1px solid lightslategray;
      }
      .footer {
        grid-area: footer;
        border-top: 1px solid lightslategray;
      }
      main {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 50px auto 250px;
        grid-template-areas:
          "sidebar header header header"
          "sidebar main main main"
          "footer footer footer footer";
      }
    </style>
  </body>
</html>
